@use "../style/base" as b;

.animal-container {
  @include b.FlexColCenter;
  @include b.for-size(desktop) {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.animal-info {
  @include b.FlexColCenter;
}

.animal-picture {
  padding: 1em;
  &__img {
    height: 200px;
  }
}

.animal-desc {
  &__name {
    margin-bottom: 0.3em;
    &--fact {
      margin-top: 1em;
      margin-bottom: 0.3em;
      font-weight: bold;
      font-style: italic;
    }
  }
  &__text {
    &--fact {
      font-style: italic;
    }
  }
}

.animal-status {
  align-self: flex-start;
  margin-top: 2em;
  &__hunger {
    color: green;
    &--alert {
      color: red;
    }
  }
}

//////////////////////////

.animal-container-s {
  background-color: rgb(175, 255, 201);

  @include b.FlexColCenter;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 2em;
  @include b.for-size(desktop) {
    @include b.FlexRowCenter;
    width: 100%;
    justify-content: space-between;
  }
}

.animal-picture-s {
  &__img {
    height: 120px;
    margin: 0.5em;
  }
}

.animal-info-s {
  @include b.FlexColCenter;
  &__name {
    margin-bottom: 1em;
  }

  @include b.for-size(desktop) {
    @include b.FlexRowCenter;
  }
}

.animal-desc-s {
  &__name {
    margin-bottom: 0.3em;
  }
}

.animal-status-s {
  margin-top: 1em;
  margin-left: 1em;
  &__hunger {
    &:after {
      content: "•";
      font-size: 25px;
      margin-left: 2px;
      color: green;
    }
    &--alert {
      &:after {
        content: "•";
        font-size: 25px;
        margin-left: 2px;
        color: red;
      }
    }
  }
}
